<h2>Forgot Password</h2>
<form>
  <input type="email" id="email" placeholder="Email Address" class="form-control" name="" />
  <input type="submit" class="btn btn-primary w-100" value="Reset Password Link" name="">
</form>

<p>Remember password? <a routerLink="../login">Back to Login</a></p>
