<h2>Welcome</h2>
<form>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="Email" name="email" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" placeholder="Password" name="password" />
  </div>
  <input type="submit" value="Login" name="login-submit">
</form>
<div>
  <a routerLink="../forgot-password">Forgot Password</a>
</div>
<div>
  <a routerLink="../admin">Go to admin page</a>
</div>

